<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Location Details</title>
	</head>
	<body>
		<h1>LOCATION DETAILS</h1>
		<h2><%= location.title %></h2>
		<ul>
			<li>Location: <%= location.location %></li>
			<li>Description: <%= location.description %></li>
			<li>Price: <%= location.price %></li>
		</ul>
		<footer>
			<a href="/locations">Go back to all location</a>
		</footer>
	</body>
</html>
